@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <p>@ViewBag.Greeting world, from the view!</p>
        <p>We're having a party next week. @Html.ActionLink("RSVP Now!!!", "RsvpForm")</p>
    </div>
</body>
</html>
